// Colores
$verde: #386641;
$rojo: #BC4749;
$amarillo: #FEF46D;
$morado: #752F97;
$negro: #000;
$blanco: #FFF;
// Media Queries
$telefono: 480px;
$tablet: 768px;
$PC: 1200px;
// Fuentes
$fuentePrincipal: 'Antonio',
sans-serif;
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;
//Separacion
$separacion: 5rem;