.galeria {
    padding: $separacion / 2;
    h3 {
        text-align: center;
    }
}

.galeria-imagenes {
    padding: 0;
    list-style: none;
    @include grid(2);
    column-gap: $separacion;
    @include mqTablet {
        @include grid(4);
        column-gap: $separacion / 2;
    }
    @include mqPC {
        @include grid(6);
        column-gap: $separacion / 2;
    }
}

.overlay {
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    display: grid;
    place-items: center;
}

.btn-cerrar {
    width: 6rem;
    height: 6rem;
    background-color: $morado;
    color: $blanco;
    border-radius: 3rem;
    display: grid;
    place-items: center;
    &:hover {
        cursor: pointer;
    }
}